.navbar {
    background: #f4f5f8;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    _box-shadow: 0 .25rem .5rem rgba(0,0,0,.05);

    .navbar-brand {
        font-family: Bitter, serif;
        font-weight: bold;
    }
}